
## Vaadin
/vaadinui/src/main/frontend/generated/
/vaadinui/node/

## Gradle
.gradle/

## Maven
target/

## Node.js
node_modules/
build/
test-results/
coverage/

## JetBrains IDE
.idea/

## Misc
*.bak
